<div class='day-rectangle'>



    <div class='icon-and-temp'>
        <div class='sun-icon'>
            <img class='sun-pic' src='{{pictureUrl}}'>
        </div>
<!-- All these  numbers are being rounded by the round pipe I created in the pipes folder -->
        <div class='temp-number'>
            <h1>
                {{ temp | round }}
            </h1>
        </div>
    </div>


    <div class='temp-info-more'>
        <h3>{{ maxTemp | round }} high / {{ minTemp | round }} low</h3>
    </div>


    <p>PM</p>

</div>