<div class='day-rectangle'>

    <button (click)='callDate()'>
        CLICK ME
    </button>
    <p>
        {{dateString}}
    </p>


    <div class='icon-and-temp'>
        <div class='sun-icon'>
            <img class='sun-pic' src='{{pictureUrl}}'>
        </div>
<!-- All these  numbers are being rounded by the round pipe I created in the pipes folder -->
        <div class='temp-number'>
            <h1>
                {{ lowTemp | round }}
            </h1>
        </div>
    </div>


    <div class='temp-info-more'>
        <h1>{{ highTemp - (highTemp-lowTemp)/2 | round }} / {{ lowTemp | round }}</h1>
        <h1>{{lowTemp | round}}</h1>
    </div>


    <h1>NIGHT</h1>

</div>