body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* ********GLOBAL styling********* */

.darkTheme {
  /* background-image: linear-gradient(to top, #2f1d65, #392082, #4322a0, #4e22bf, #5b21df)!important; */
  background-image: linear-gradient(to top, #2f1d65, #331e89, #311eaf, #281cd6, #001aff) !important;
}


/* ***********LAYOUT styling*************** */

.fullPage {
  background: rgb(136, 220, 255);
  background: linear-gradient(0deg, rgba(136, 220, 255, 1) 0%, rgba(15, 163, 224, 1) 50%, rgba(57, 137, 255, 1) 100%);
  height: 100vh;
  width: 100vw;
}

.mainLayout {
  height: 85vh;
}

nav {
  height: 15vh;
  width: 100vw;
  object-fit: scale-down;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

img {
  min-width: 5px;
  min-height: 5px;
  object-fit: scale-down;
  /* max-height: 100%; */
}


.logoDiv {
  height: 100%;
  width: auto;
  margin: 10px 0px 0px 20px;
  object-fit: scale-down;

}

#logoImg {
  object-fit: scale-down;
  max-height: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  position: relative;
}

.bottomHalf,
.topHalf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.topHalf {
  /* object-fit: scale-down; */
  height: 35%;
}

.bottomHalf {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  height: 65%;
  flex-direction: column;
  /* object-fit: scale-down; */
}











/* ************END Layout styling************ */

/* ********Navbar styling********* */

.navbar-toggler.toggler-example {
  cursor: pointer;
  color: white;
  /* margin-left: 8%; */
}

.fa-1x {
  font-size: 2.5rem !important;
}



.inner_gender {
  display: inline-block;
  margin: 0 auto;
}

.navbar-nav {
  margin: 0 auto;
  margin: 0px auto;
  float: none;
  display: table !important;
}

.navbar-collapse {
  margin: 10px 0;
  padding: 10px 0;
  background-color: rgb(248, 247, 247);
}

.switch {
  margin: 0 20px; 
}


/* ********ARROWS styling********* */


.arrows {
  font-size: 3rem;
  color: white;
}

.noShow {
  display: none;
}


/* ********MANNEQUIN styling********* */

.mannequinDiv {
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  bottom: 80px;
}

.clothing{
  bottom: 150px;
}

#person {
  z-index: 0;
  position: relative;
  top: 65px;
}

#headwear {
  z-index: 2;
  position: relative;
}

#facewear {
  z-index: 4;
  position: relative;
}

#jacket {
  z-index: 3;
  position: relative;
  bottom: 65px;
}

#shirt {
  z-index: 2;
  position: relative;
}

#lowerBody {
  z-index: 2;
  position: relative;
}

#footwear {
  z-index: 3;
  position: relative;
  bottom: 142px;
}



.picurlHOLDEN {
  height: 100px;
  width: 100px;
}





/* ***********END mannequin styling*********** */

/* ******************SPEECH BUBBLE styling**************** */

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  top: 10px;
  z-index: 1;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 31px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -50px;
  margin-bottom: -31px;
}

.speech {
  margin: 15px;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(128, 125, 125);
}

/* ***********END speech bubble styling********************* */


/* **************BUTTON styling****************** */

.weatherPanel {
  width: 50%;
  object-fit: contain;
}

.navButton {
  margin: 15px;
}

.swipe {
  float: right;
  margin: 0;
  height: 70%;
  border-radius: 7%;
  border-style: none;
}

.icon {
  width: auto;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.weatherImg {
  overflow: hidden;
  /* min-height: 5px; */
  /* min-width: 5px; */
  height: auto;
  width: 100%;
}

.gender {
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  bottom: 60px;
  display: inline-block;
}

.slidecontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
  height: 15%;
  position: relative;
  z-index: 1;
  bottom: 110px;
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: rgb(128, 125, 125);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* #male, #female {
  opacity: 0.6;
}

#male:hover, #female:hover {
  background-color:whitesmoke;
  opacity: 1;
} */

/* *************END button styling*************** */


/* ***************Media Query***************** */

@media only screen and (min-width: 414px) {

  #person {
    top: 46px;
  }

  #jacket {
    bottom: 72px;
  }

  #footwear {
    bottom: 144px;
  }

  /* **********Needs updates********************* */
  @media only screen and (min-width: 768px) {

    #person {
      top: 46px;
    }

    #jacket {
      bottom: 72px;
    }

    #footwear {
      bottom: 144px;
    }
  }

  /* **************Needs Updates******************* */
  @media only screen and (min-width: 769px) {

    nav {
      height: 20vh;
    }

    .mainLayout {
      height: 80vh;
      display: flex;
    }

    .navBar {
      width: 100vw;
    }

    .topHalf {
      width: 60vw;
      height: 100%;
    }

    .bottomHalf {
      width: 40vw;
    }

    .bottomHalf,
    .mannequinDiv {
      height: 100%;
    }

    #person {
      top: 180px;
    }

    .clothing {
      bottom: 295px;
    }

    #jacket {
      bottom: 118px;
    }

    #footwear {
      bottom: 300px;
    }
  }

}

/* ***************END Media Query***************** */
