 <!-- **TEST CODE - CAN BE DELETED**
<button (click)='getLocation()'>click</button>

<select [(ngModel)]='eventType' name="" id="">

  <option selected value="casual">Casual</option>
  <option value="formal">Formal</option>
  <option value="bussiness_casual"> Bussiness Casual</option>
</select> 


<button (click)= 'setMale()'>Male</button>
<button (click)= 'setFemale()'>Female</button> -->

<!-- ****************************** division ********************************** -->





<daytime-component></daytime-component>









<div class='fullPage'>
  <nav>
    <div class="navBar">
      <!-- ******Needs updates to match component.ts******* -->
      <div class="slidecontainer">
        <input type="range" min="1" max="3" value="2" class="slider" id="myRange">
          <div class='sliderLabels'>
              <i class="fas fa-user"></i>
              <i class="fas fa-user-tie"></i>
              <i class="fas fa-user-secret"></i>
        </div>
      </div>
      <!-- *****************Using Radio Buttons***************
    <div class='radioContainer'>
      <div class='radio' *ngFor="let style of styles">
        <input
          class='radioInput'
          type="radio"
          name="radio"
          id="radio-{{style}}"
          [(ngModel)]="selectedStyle" 
          (change)="onChange($event.target.value)"
          [value]="style"
          [checked]=''
          />
        <label for="radio-{{style}}">{{style}}</label>
      </div>
    </div>
    ****************************************************** -->


    <!-- *********Can delete once replaced by icons / radio buttons********* -->
    <!-- <select [ngModel]="selectedStyle" (change)="onChange($event.target.value)">
      <option *ngFor="let style of styles">{{style}}</option>
    </select> -->
    <!-- *************************************************** -->
      <div class='gender'>
        <i (click)= 'setMale()' class='fas fa-male fa-2x' id='male'></i>
        <i (click)= 'setFemale()' class='fas fa-female fa-2x' id='female'></i>
      </div>
    </div>
  </nav>
  <div class="topHalf">
    <div class='weatherPanel'>
        <img class='weatherImg' src='../assets/images/amWeather.PNG'>
    </div>
    <div class='weatherPanel'>
            <img class='weatherImg' src='../assets/images/pmWeather.PNG'>
      </div>
     <button class='swipe'>></button>
  </div>
  <div class="bottomHalf">

    <button (click)= 'setFormal()'>Formal</button>
    <button (click)= 'setCasual()'>Casual</button>
    <button (click)= 'setBusinessCasual()'>Business Casual</button>

    <!-- ******Needs updates to match component.ts******* -->
      <div class='radioContainer' *ngFor="let style of styles">
        <div class='radio'>
          <input
            class='radioInput'
            type="radio"
            name="radio"
            id="radio-{{style}}"
            [(ngModel)]="selectedStyle" 
            (change)="onChange($event.target.value)"
            [value]="style"
            [checked]=''
            />
          <label for="radio-{{style}}">{{style}}</label>
        </div>
        <br>
        
      </div>
          <!-- ********************************************************* -->
    <!-- *****Can delete once replaced by Radio Buttons***** -->
    <!-- <select [ngModel]="selectedStyle" (change)="onChange($event.target.value)">
      <option *ngFor="let style of styles">{{style}}</option>
    </select> -->
    <!-- ********************************** -->

    <div class='mannequin'>
        <img class='clothing' src="../assets/images/hat.png">
        <img class='clothing' src="../assets/images/sunglasses.png">
        <img class='clothing' src="../assets/images/tshirt1.png">
        <img class='clothing' src="../assets/images/Parka.png">
        <img class='clothing' src="../assets/images/pants1.png">
        <img class='clothing' src="../assets/images/boot.png">
    </div>
    <button class='swipe'>></button>
  </div>
</div>


  <!-- ****************CAN THIS BE DELETED???*************
<select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="sel2">
  <option [value]="i" *ngFor="let i of devices">{{i}}</option>
</select>
****************************************************** -->
  <router-outlet></router-outlet> 

