<div class='fullPage' [ngClass]="changeColor()">

  <nav>
    <div class="logoDiv">
      <img id='logoImg' class="logo navbar-brand" src="../assets/logo/bundleLogo.png" alt="">
    </div>
    <!-- Collapse button -->
    <div class="settings">
      <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="dark-blue-text">
          <i class="fas fa-bars fa-1x"></i>
        </span>
      </button>
      <!-- Collapsible content -->
    </div>
  </nav>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <div class='gender navbar-nav mr-auto'>
      <div class="inner_gender">
        <i class='fas fa-male fa-2x' id='male'></i>
        <ui-switch defaultBgColor="#0000ff" [(ngModel)]='genderInput' (change)='setGender()' color="red" class="switch">
        </ui-switch>
        <i class='fas fa-female fa-2x' id='female'></i>
        <span>Choose your date: </span>
        <input #inputValue placeholder="yyyy-mm-dd" />
        <!-- <button (click)="getData(inputValue.value)">select</button> -->
      </div>
    </div>
  </div>


  <div class="mainLayout">
    <div class="topHalf">

      <button [ngClass]="showArrow()" (click)='activateLight()' id='leftButton'>

        <a routerLink='' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-chevron-left arrows"></i>

        </a>
      </button>

      <router-outlet></router-outlet>


      <button [ngClass]="" (click)="activateDark()" id='rightButton'>
        <a routerLink='night' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-chevron-right arrows"></i>
        </a>
      </button>

    </div>


    <div class="bottomHalf">
      <div class='speech-bubble'>
        <h4 class='speech'>{{speech}}</h4>
      </div>

      <div class='mannequinDiv'>
        <img src='../assets/{{picurlHOLDEN}}.png'>
        <!-- <img id='person' src='../assets/clothes/icon.png'>
        <img *ngIf='showHeadWear' class='clothing' id='headwear' src='../assets/{{headwearUrl}}'>
        <img *ngIf='showFaceWear' class='clothing' id='facewear' src="../assets/{{facewearUrl}}">
        <img *ngIf='showUpperbodyOuter' id='jacket' src="../assets/{{upperbodyOuterUrl}}">
        <img *ngIf='showUpperbody' id='shirt' class='clothing' src="../assets/{{upperbodyUrl}}">
        <img *ngIf='showLowerbody' class='clothing' id='lowerBody' src="../assets/{{lowerbodyUrl}}">
        <img *ngIf='showFootwear' class='clothing' id='footwear' src="../assets/{{footwearUrl}}"> -->
      </div>
      <div class="slidecontainer">

        <input type="range" min="1" max="3" [(ngModel)]='preEvent' (change)='getEvent()' class="slider" id="myRange" />
        <div class='sliderLabels'>
          <i class="fas fa-tshirt"></i>
          <i class="fas fa-briefcase"></i>
          <i class="fas fa-user-tie"></i>
        </div>

      </div>
    </div>
  </div>


</div>