body{
  background-color: aqua;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
}

div{
  margin: 0;
}
  
.fullPage {
  background-color: mediumspringgreen;
  height: 100vh;
}

nav{
border-bottom: 4px solid whitesmoke;
}

.navBar{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.bottomHalf, .topHalf{
height: 45%;
display: flex;
justify-content: space-between;
align-items: center;
}

.topHalf{
  border-bottom: 2px solid whitesmoke;
}

.bottomHalf{
  border-top: 2px solid whitesmoke;
}

li{
  list-style: none;
}

ul{
  padding: 0px;
  list-style-type: none;
  margin: 0px;

}

.navButton{
  margin: 15px;
}

.swipe{
  float: right; 
  margin: 10% 1% 10% 10%;
  height: 40%;
  /* width: 5%; */
  border-radius: 7%;
  border-style: none;
}

.mannequin{
  width: auto;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.clothing{
  min-height: 5px;
  object-fit: contain;
}
