<!-- **TEST CODE - CAN BE DELETED**

  
  <select [(ngModel)]='eventType' name="" id="">
    
    <option selected value="casual">Casual</option>
    <option value="formal">Formal</option>
    <option value="bussiness_casual"> Bussiness Casual</option>
  </select> 
  
  
  <button (click)= 'setMale()'>Male</button>
  <button (click)= 'setFemale()'>Female</button> -->

<!-- ****************************** division ********************************** -->







<div class='fullPage'>

  <img class="logo" src="../assets/logo/bundleLogo.png">



  <daytime-component [lowTemp]='lowTemp' [highTemp]='highTemp' [realTemp]='realTemp'
    [apparentTemperature]='apparentTemperature' [theHour]='theHour' [morningTempArray]='morningTempArray'
    [morningTempAverage]='morningTempAverage' [morningMin]='morningMin' [morningMax]='morningMax'
    [afternoonTempArray]='afternoonTempArray' [afternoonTempAverage]='afternoonTempAverage'
    [afternoonMin]='afternoonMin' [afternoonMax]='afternoonMax' [fullDayArray]='fullDayArray'></daytime-component>
  <div class="topHalf">
    <night-component [lowTemp]='lowTemp' [highTemp]='highTemp' [realTemp]='realTemp'
      [apparentTemperature]='apparentTemperature' [theHour]='theHour' [morningTempArray]='morningTempArray'
      [morningTempAverage]='morningTempAverage' [morningMin]='morningMin' [morningMax]='morningMax'
      [afternoonTempArray]='afternoonTempArray' [afternoonTempAverage]='afternoonTempAverage'
      [afternoonMin]='afternoonMin' [afternoonMax]='afternoonMax' [fullDayArray]='fullDayArray'></night-component>

    <!-- 

    <div class='weatherPanel'>
        <img class='weatherImg' src='../assets/images/amWeather.PNG'>
    </div>
    <div class='weatherPanel'>
            <img class='weatherImg' src='../assets/images/pmWeather.PNG'>
      </div>
     <button class='swipe'>></button> -->
  </div>
  <div class="bottomHalf">


    <!-- <button (click)= 'setFormal()'>Formal</button>
    <button (click)= 'setCasual()'>Casual</button>
    <button (click)= 'setBusinessCasual()'>Business Casual</button> -->


    <!-- <mannequin [morningTempAverage]='morningTempAverage' [afternoonTempAverage]='afternoonTempAverage'  
    ></mannequin> -->
    <!-- <div class='mannequin'>
       <img *ngIf='showHeadWear' class='clothing' src='../assets/{{headwearUrl}}'>
       <img *ngIf='showFaceWear' class='clothing' src="../assets/{{facewearUrl}}">
       <img *ngIf='showUpperbody' class='clothing' src="../assets/{{upperbodyUrl}}">
       <img *ngIf='showUpperbodyOuter' class='clothing' src="../assets/{{upperbodyOuterUrl}}">
       <img *ngIf='showLowerbody' class='clothing' src="../assets/{{lowerbodyUrl}}">
       <img *ngIf='showFootwear' class='clothing' src="../assets/{{footwearUrl}}">
     </div> -->

  </div>
</div>