<div class='day-rectangle'>

    <button (click)='callDate()'>
        CLICK ME
    </button>
    <p>
        {{dateString}}
    </p>


    <div class='icon-and-temp'>
        <div class='sun-icon'>
            <p>
                I AM A SUN
            </p>
        </div>

        <div class='temp-number'>
            <p>
                I AM THE TEMP
            </p>
        </div>
    </div>


    <div class='temp-info-more'>
        <p>HIGH/LOW</p>
        <P>Feels like</P>
    </div>


    <h1>MORNING</h1>

</div>