/* Rectangle


position: absolute;
width: 375px;
height: 1142px;
left: 0px;
top: 0px;

background: #30A2C6;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 */

* {
    display: flex;
    flex-direction: column;

}

.day-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: scale-down;


    /* background: rgb(136,220,255);
    background: linear-gradient(0deg, rgba(136,220,255,1) 0%, rgba(15,163,224,1) 50%, rgba(57,137,255,1) 100%); */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* border-radius: 5px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}



.icon-and-temp {
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    justify-content: space-between;
}


canvas.skycons__canvas {
    /* width: 100px!important; */
    object-fit: scale-down;
    display: flex;
}

sc-skycons{
    object-fit: scale-down;
}

.skycons__canvas{
    /* width: 15vw; */
    object-fit: scale-down;
}
.skycon{
    display: flex;
    object-fit: scale-down;
    /* width: 150px; */
    /* height: 75px; */
}

.temp-number {
    /* margin-left: 35px; */
    display: flex;
    justify-content: center;
    /* margin: 0vw 5vw 0vw 15vw; */
}

.temp-info-more {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-direction: column; */
}
.temp-info-more h3 {
    margin: 0 30px;
}

.currentTemp{
    display: none;
}

@media only screen and (min-width: 414px) {

   
}
  

@media only screen and (min-width: 768px) {
  
     
}
  

@media only screen and (min-width: 769px) {
  
}


