/* Rectangle


position: absolute;
width: 375px;
height: 1142px;
left: 0px;
top: 0px;

background: #30A2C6;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 */

* {
    display: flex;
    flex-direction: column;
}

.day-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* width: 375px; */
    height: 375px;
    left: 0px;
    top: 0px;
    background: #30A2C6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-and-temp {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.sun-icon {
    margin-right: 35px;
}

.temp-number {
    margin-left: 35px;
}

.temp-info-more {
    display: flex;
    flex-direction: row;
}
.temp-info-more h1 {
    margin: 50px;
}

.sun-pic {
    width: 100px;
    height: 100px;
}