<div class='day-rectangle'>

    <!-- <button (click)='callDate()'>
        CLICK ME
    </button>
    <p>
        {{dateString}}
    </p> -->




    <div class='icon-and-temp'>
        <div class='sun-icon'>
            <img class='sun-pic' src='{{pictureUrl}}'>
            <canvas id="icon1" width="128" height="128"></canvas>
            <canvas id="icon2" width="128" height="128"></canvas>
        </div>
        <!-- All these  numbers are being rounded by the round pipe I created in the pipes folder -->
        <div class='temp-number'>
            <h1>
                {{ temp | round }}
            </h1>
        </div>
    </div>


    <div class='temp-info-more'>
        <h1>{{ maxTemp | round }} / {{ minTemp | round }}</h1>
        <h1>Feels like {{apparentTemperature | round}}</h1>
    </div>


    <h1>MORNING</h1>

</div>